.container{
    height: 100vh;
    display: grid;
    /*grid-template-columns: 33% 33% 33%;
    grid-template-rows: 150px 150px 150px 200px;*/
    grid-template-areas: 
    'header header header'
    'sidebar cont1 cont1'
    'sidebar cont2 cont3'
    'footer footer footer';
    grid-gap: 10px;
}
.item {
    background-color: black;
}
.item1 { grid-area: header; }
.item2 { grid-area: sidebar;}
.item3 { grid-area: cont1;}
.item4 { grid-area: cont2;}
.item4 { grid-area: cont3;}
.item5 { grid-area: footer;}